.dropbar {
    z-index: 9999;
    position: absolute;
    width: 100%;
    display: contents;
}

.dropbar__success {
    width: 840px;
    height: 60px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #2cbf9d;
    background-color: #eafff6;
    margin: 0 auto;
    text-align: center;
}

.dropbar__success__body {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #2cbf9d;
}

.dropbar__icon {
    margin-right: 5px;
}

.dropbar__message {

}

.dropbar__close {
    float: right;
    text-indent: -60px;
}