.loop11__logo {
    margin: 30px 30px;
    display: inline-flex;
    align-items: left;
}

.landing {
    height: 100%;
    width: 100%;    
}

.cta__center {
    margin-top: 15vh;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
}