.App {
  background-color: #f7f7f7;
  min-height: 100vh;
  min-width: 100vh;
}

h1, h2, h3, p, input, select {
  font-family: Lato;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}

p {
  font-size: 14px;
}



body {
  height: 100%;
  width: 100%;
}